/* styles.module.css */
.container {
  padding: 20px;
  padding-top: 65px;
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Poppins", Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}

.dashHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: white;
  border-radius: 9px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dashPanel {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.statCards {
  display: flex;
  justify-content: space-between;
}

.statCard {
  flex-basis: calc(33.33% - 10px);
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.statValue {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.statLabel {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
}

.activityList {
  list-style-type: none;
  padding: 0;
}

.messageInfo,
.notificationInfo {
  margin-bottom: 10px;
}

.viewButton {
  background-color: #3366ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewButton:hover {
  background-color: #186b6d;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.actionButton {
  padding: 10px 20px;
  background-color: #186b6d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #1d797c;
}

.suceessAdd {
  border: #186b6d 2 dashed;
  color: hsl(218, 4%, 45%);
  display: flex;
}
.suceessAdd h3 {
  color: #186b6d;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
  padding-left: 20px;
}
.suceessAdd span {
  display: block;
  padding-left: 20px;
}
