.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.topDestination {
  margin: 0 auto;
  padding: 40px 20px 60px 20px;
}

.sectionTitle {
  width: 100%;
}
.sectionTitle h2 {
  padding: 0px 20px 0px 20px;
  margin: 0;
  text-transform: uppercase;
  color: #665f8b;
}

.topDestination p {
  color: #000000;
  padding: 10px 20px 25px 20px;
  margin: 0;
}

.sectionTitle svg {
  color: #73a27f;
  font-size: 35px;
}
.destinationCards {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
