.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding-top: 85px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}
