.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
@media only screen and (max-width: 765px) {
  .header {
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    text-align: center;
    position: static;
  }
}
