html {
  background: #f2f2f3;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-size: 15px;
}

/* General Page Payout*/
.header,
.main,
.aside,
.footer {
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 1320px;
  padding-top: 85px;
}

.main {
  width: 1060px;
  margin-right: 20px;

  padding: 45px 40px;
  margin-bottom: 70px;
}
.aside {
  width: 320px;
  height: 350px;
  padding: 20px;
}

.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
}

/* logo */
.logo img {
  max-width: 150px;
  padding-left: 20px;
}
.logo h1 {
  position: absolute;
  font-size: 0px;
}

/* Navigation*/
.main-nav ul,
.right-nav ul {
  display: flex;
  list-style: none;
  color: hsl(218, 4%, 30%);
}

.main-nav ul li,
.right-nav ul li {
  padding: 0px 5px;
  margin: 0px 5px;
}

/* Main */
.main header button {
  color: #186b6d;
  background: #fff;
  border: 1px solid #186b6d;
  justify-self: end;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  width: 230px;
  height: 43px;
}
.main header button:hover {
  background: #f0fbfc;
}
.main-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 33px;
}

/* Product card*/

.product {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 33px;
  margin-bottom: 33px;
}
.product-media img {
  width: 160px;
}

.product-details h2 {
  font-size: 16px;
  font-weight: bolder;
}

.product-actions button {
  border: 1px solid #186b6d;
  justify-self: end;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  width: 230px;
  height: 43px;
  margin-bottom: 5px;
}

.primary {
  background: #186b6d;
  color: #fff;
}
.primary-o {
  color: #186b6d;
  background: #fff;
}

.primary-color {
  color: #186b6d;
}
.warning-color {
  color: #b5a90e;
}
.danger-color {
  color: #b50e0e;
}
