.container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  min-height: 100px;
  max-width: 960px;
  margin-bottom: 20px;
}

.sectionTitle {
  width: 100%;
}
.sectionTitle a {
  color: #665f8b;
  margin-bottom: 10px;
}
.sectionTitle h2 {
  padding: 20px 20px 0px 20px;
  margin: 0;
  text-transform: uppercase;
  color: #665f8b;
}

.sectionTitle p {
  margin-top: 10px;
  margin-bottom: 5px;
}
