/* styles.module.css */
.masterContainer {
  background: #fff;
}
.container {
  padding-top: 70px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Aeonik", Helvetica, Arial, sans-serif;
}

/* Header Section*/
.header {
  display: flex;
  gap: 10px;
  background: rgb(228, 228, 228);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.photos,
.photo,
.bookingWidget {
  margin: 0 2px;
}

.photos {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  max-width: 150px;
  object-fit: cover;
  overflow: hidden;
}
.photos img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 5px;
}

.photo {
  max-width: 60%;
  flex-grow: 2;
  overflow: hidden;
}
.photo img {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}
.bookingWidget {
  flex-grow: 2;
  max-width: 30%;
}
/* Details Secion*/
.detainSection {
  margin-bottom: 20px;
  border-top: 1px solid #17525350;
  border-bottom: 1px solid #17525350;
  padding: 20px 0;
}
.contentSection {
  /* background: rgb(255, 255, 255); */
  border-radius: 10px;
  padding: 15px;
}
.contentSection h3 {
  font-size: 24px;
}
.relatedProducts {
  border: 2px dashed yellow;
}
.contentInnerSection {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}
/* Booking Form Styles*/

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #02020226;
  border-radius: 3px;
}

.bookingWidget button {
  width: 100%;
  padding: 10px;
  background-color: #186b6d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bookingWidget button:hover {
  background-color: #175253;
}

.bookigForm {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
