/* styles.module.css */

/* General styles */
.masterContainer {
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 60px;
  font-size: 16px;
  font-family: "Aeonik", Helvetica, Arial, sans-serif;
}

/* Header Section */
.header {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.photos,
.photo,
.bookingWidget {
  margin: 0 2px;
}

.photos {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  max-width: 150px;
  object-fit: cover;
  overflow: hidden;
}

.photos img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo {
  max-width: 60%;
  flex-grow: 2;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.photo button {
  position: absolute;
  background-color: rgb(247, 247, 247);
  top: 20px;
  right: 30px;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.photo button:hover {
  background-color: rgb(219, 219, 219);
}

.photo button svg {
  font-size: 16px;
  margin-right: 5px;
}

.photo img {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bookingWidget {
  flex-grow: 2;
  max-width: 30%;
}

/* Details Section */
.detailSection {
  margin-bottom: 20px;
  border-top: 1px solid #17525350;
  border-bottom: 1px solid #17525350;
  padding: 20px 0;
}

.contentSection {
  border-radius: 10px;
  padding: 15px;
}

.contentSection h3 {
  font-size: 24px;
}

.relatedProducts {
  /* border: 2px dashed yellow; */
}

.contentInnerSection {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

/* Booking Form Styles */
.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #02020226;
  border-radius: 3px;
}

.bookingWidget button {
  width: 100%;
  padding: 10px;
  background-color: #186b6d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bookingWidget button:hover {
  background-color: #175253;
}

.bookigForm {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

/* Tour Details section : Itinerary */
.itinerary {
  list-style: none;
  padding: 20px;
}

.itinerary h3 {
  font-size: 16px;
}

.itinerary li {
  border-left: 3px dashed #212b68;
  margin: 20px;
  padding-left: 20px;
}

.itinerary li h4 {
  background: #186b6d;
  display: inline-block;
  margin: 0;
  margin-left: -35px;
  padding: 5px 10px;
  border-radius: 50%;
  color: #fff;
}

.itinerary li div {
}

.itinerary li div h5 {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0;
}

.included,
.notIncluded {
  list-style: none;
}

.included li,
.notIncluded li {
  padding-bottom: 10px;
}

.included svg {
  color: green;
  padding-right: 10px;
}

.notIncluded svg {
  color: red;
  padding-right: 10px;
}

.productTitle {
  color: #186b6d;
}

.container h1 {
  font-size: 26px;
  text-transform: capitalize;
  color: black;
}
