/* styles.module.css */
.container {
  padding-top: 65px;
  margin-bottom: 60px;
  border: 2px dashed red;
  max-width: 960px;
  margin: 0 auto;
}

/* Header Section*/
.header {
  display: flex;
  border: 2px dashed rgb(0, 225, 255);
}

.photos,
.photo,
.bookingWidget {
  width: 33%;
  background: rgb(184, 175, 175);
  height: 300px;
  margin: 0 2px;
}

/* Details Secion*/
.detainSection {
  border: 2px dashed blue;
}
.contentSection {
  border: 2px dashed green;
}
.relatedProducts {
  border: 2px dashed yellow;
}
