.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.footweDetails {
  margin: 0 auto;
  padding: 40px 20px 60px 20px;
}

.sectionTitle {
  width: 100%;
}
.sectionTitle h2 {
  padding: 20px 20px 0px 20px;
  margin: 0;
  text-transform: uppercase;
  color: #665f8b;
}

.sectionTitle h3 {
  margin: 0px;
  padding: 10px 20px 10px 20px;
}

.footerCards {
  display: flex;
  flex-flow: wrap row;
  gap: 1px;
  justify-content: center;
}
.footerCards ul,
.footerCards p {
  list-style: none;
  color: #3a3a3a;
}
.footerCards ul {
  text-align: left;
}
.footerCards li {
  margin-bottom: 6px;
}
.footerCard {
  width: 350px;
  padding: 20px 20px;

  border-radius: 5px;
  /* box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.15); */
}
.footerCard svg {
  color: #186b6d;
  margin-right: 5px;
}

.footerCard img {
  width: 200px;
}
.footerCard h3 {
  color: #488368;
}
.footerCards .footerCard:nth-child(2) {
  border-left: 1px solid #3a3a3a30;
  border-right: 1px solid #3a3a3a30;
}
