/* Navigation*/
.mainNav ul,
.rightNav ul {
  display: flex;
  list-style: none;
  color: hsl(218, 4%, 30%);
}

.mainNav ul li,
.rightNav ul li {
  padding: 0px 5px;
  margin: 0px 5px;
}
.mainNav :global(.active) {
  color: #186b6d;
  font-weight: 600;
}

.mainNav a,
.rightNav a {
  color: #444444;
  text-decoration: none;
}
