/* Navigation*/
.mainNav ul,
.rightNav ul {
  display: flex;
  list-style: none;
  color: hsl(218, 4%, 30%);
  align-items: center;
}

.mainNav ul li,
.rightNav ul li {
  padding: 0px 5px;
  margin: 0px 5px;
}
.mainNav .icon {
  display: none;
}

.mainNav :global(.active) {
  color: #186b6d;
  font-weight: 600;
}

.mainNav a,
.rightNav a {
  color: #444444;
  text-decoration: none;
}

.shoppingTools {
  display: flex;
  flex-flow: wrap row;
}
.shoppingTools button {
  display: block;
  margin: 2px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #186b6d;
  position: relative;
}

.shoppingTools button:hover {
  color: #115152;
}

.shoppingTools span {
  position: absolute;
  color: #fff;
  background: red;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 50%;
  top: 2px;
  left: 20px;
}

/* Loggin Btn */
.logoutBtn {
  background-color: #fff;
  border: 1px solid #115152;
  color: #115152;
  border-radius: 5px;
}
.logoutBtn:hover {
  color: #fff;
  border: 1px solid #115152;
  background-color: #115152;
}
/* Login Action Btn */
.loginContainer {
  display: flex;
  position: relative;
}
.loginContainer img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.loginActionsBtn {
  position: absolute;
  top: 50px;
}

.loginActionsBtn button {
  background: rgb(255, 255, 255);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  padding-bottom: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
  font-size: 12px;
  border-radius: 2px;
}
.loginActionsBtn button:hover {
  background: rgb(255, 255, 255);
  background: rgb(24 107 109);
  color: #fff;
}

/* Cart Section*/
.cartPanelContainer {
  position: absolute;
  background: #fff;
  min-width: 600px;
  top: 70px;
  border-radius: 10px;
  display: none;
}
.cartPanel {
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: grid;
  grid-template-areas:
    "header header header"
    "products products pricing"
    "footer footer footer";
}
.cartHeader {
  border-bottom: 2px solid rgb(231 231 231);
  grid-area: header;
  margin-bottom: 5px;
  text-align: center;
}
.cartProductsHolder {
  grid-area: products;
}
.cartProducts {
  display: grid;
  grid-template-areas: "leftSide rightSide";
  border-bottom: 1px solid rgb(235 235 235);
  border-right: 1px solid rgb(235 235 235);
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.cartMediaGroup {
  grid-area: leftSide;
  font-size: 13px;
  display: flex;
  gap: 10px;
}
.cartMediaGroup img {
  width: 60px;
  height: 40px;
}
.productTextGroup {
  grid-area: rightSide;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 13px;
}
.productTextGroup select {
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 5px;
}
.cartPricing {
  grid-area: pricing;
}

.cartPricing span {
  display: block;
  text-align: right;
  font-size: 13px;
}
.cartPricing span:first-child {
  font-weight: 900;
}
.cartPricing span:last-child {
}
.cartFooter {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
}

.cartFooter button {
  padding: 5px 40px;
  color: #000;
  background: #efdd4a;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.cartFooter button:hover {
  background: #e0ce45;
}

.cartProClodeBtn {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -7px;
  border: none;
  border: none;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 2px 6px;
}

.cartProClodeBtn:hover {
  background: #b3b2b2;
}
/* End Cart Section */

@media only screen and (max-width: 765px) {
  .mainNav ul,
  .rightNav ul {
    justify-content: center;
    align-items: center;
  }
  .mainNav .text {
    display: none;
  }
  .mainNav .icon {
    display: block;
    font-size: 30px;

    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mainNav a {
    color: rgb(132, 133, 132);
  }

  .mainNav :global(.active) {
    color: #1d814f;
  }

  .mainNav li {
    display: block;
    font-size: 23px;
    border: 1px solid #1247481a;
    border-radius: 5px;
    padding: 30px;
  }

  .rightNav {
    display: none;
  }
}
